# =========================================================
# BASE DE DATOS
# =========================================================

Host_Sql=mysql
User_Sql=root
Pass_Sql=1234
Database_Sql=Cigarreria_JJ
Puerto_Sql=3306

DATABASE_DIR=C:/POS/database/mysql


# =========================================================
# TOKEN
# =========================================================

Secret_Key=Secret_Key
Tiempo_Token=42000


# =========================================================
# REDIS
# =========================================================

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL_MESA=86400


# =========================================================
# ALMACENAMIENTO
# =========================================================

STORAGE_DIR=C:/POS/storage


# =========================================================
# FRONTEND
# =========================================================

VITE_URL_BACKEND=http://localhost:8000