# Base de datos
Host_Sql= mysql
User_Sql= root
Pass_Sql=
Database_Sql= Database_Sql
Puerto_Sql= 3306

# Token
Secret_Key= Secret_Key
Tiempo_Token= 42000

# Redis
REDIS_HOST= redis
REDIS_PORT= 6379
REDIS_DB= 0
REDIS_PASSWORD=
REDIS_TTL_MESA= 86400

# Variables de Supabase
SUPABASE_URL= 
SUPABASE_KEY
