# Variables para base de datos
Host-Sql= localhost
User-Sql= root
Pass-Sql= Password
Database-Sql= Database
Puerto-Sql= 3306

# Variables para token
Secret-Key= SECRET_KEY 
Tiempo-Token= 60 #token en minutos 

# Variables de Supabase
SUPABASE_URL= 
SUPABASE_KEY= 

# Variables para Redis
REDIS_HOST= localhost
REDIS_PORT= 6379
REDIS_DB= 0
REDIS_PASSWORD= 
REDIS_TTL_MESA= 86400
